#notes-main {
  font-family: sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
}

.notes-container {
  position: relative;
  min-width: 20vw;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border:1px solid #ddd;
  border-radius: 8px 8px 0 0;
  padding: 8px 16px;
}

.btn-notes-ext {
  cursor: pointer;
  font-size: 12px;
  color: #0d6efd;
  border: none;
  transition: 0.3s ease;
  background-color: transparent;
  box-shadow: none;
  padding: 6px !important;
  margin: 0;
}

.btn-notes-ext:hover, .btn-notes-ext-active {
  color: #0d6efd;
  border: none;
  background-color: rgba(13, 110, 253, 0.2);
  border-radius: 4px;
  box-shadow: none;
}

.notes-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-header-buttons{
  display:flex; 
  align-items:center;
}

.notes-header-buttons > button, #rtf-buttons > button {
  margin-left: 6px;
}

.notes-form-container {
  position: relative;
}

.notes-form-container-top {
  font-size: 12px;
  cursor: row-resize;
  position: absolute;
  top: 0;
  border: 2px solid transparent;
  width: 100%;
  border-radius: 20px;
}

.notes-form-container-left {
  font-size: 12px;
  cursor: col-resize;
  position: absolute;
  left: 0;
  border: 2px solid transparent;
  height: 100%;
  border-radius: 20px;
}

.notes-form-container-top:hover,
.notes-form-container-left:hover,
.notes-form-container-top:-webkit-drag,
.notes-form-container-left:-webkit-drag {
  border-color: #0d6efd;
}

#notes-title {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

#headings-box{
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 4px;
    margin: 4px 4px 4px 0px;
    width: auto !important;
    background-color: white !important;
    color: #000 !important;
}

#notes-area {
  color: #000 !important;
  font-size: 14px !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  overflow: auto;
}

#notes-area > * {
  margin-bottom: 4px;
}

#notes-area ol,
#notes-area ul {
  padding-left: 12px !important;
}

#notes-area ol li {
  list-style: decimal !important;
}

#notes-area ul li {
    list-style: disc !important;
  }

#notes-area li {
  margin-bottom: 4px;
}

#notes-area a{
  color:#0000EE;
  text-decoration: underline;
}

#notes-area h1,#notes-area h2,#notes-area h3,#notes-area h4,#notes-area h5,#notes-area p{
  display: block !important;
  color: #000 !important;
  font-weight: normal !important;
  padding: 0 !important;
}


#notes-area h1{
  font-size: 2em !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area h2{
  font-size: 1.5em !important;
  font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#notes-area h3{
  font-size: 1.17em !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area h4 {
  font-size: 1em !important;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area h5 {
  font-size: 0.83em !important;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area h6 {
  font-size: 0.67em !important;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area p{
  font-size: 1em !important;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#notes-area:focus {
  outline: 1px solid rgba(13, 110, 253, 1);
  box-shadow: 0 0 16px rgba(13, 110, 253, 0.2);
}

#formatter-row{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:8px;
    flex-wrap:wrap;
}

#rtf-buttons{
    display:flex;
    align-items:center;
    position: relative;
}

.box-ui-layout{
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  padding: 6px;
  border-radius: 6px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width:100%;
}

#headings-box-container{
  top: 30px;
  left: 0;
  
}

#colors-box-container{
  top: 30px;
  left: 70px;
}

#background-box-container{
  top: 30px;
  left: 100px;
}

#shortcuts-box-container{
  top: 30px;
  left: 120px;
  width:250px;
}

#show-sections-box-container{
  top: 30px;
  left: 140px;
  width:180px;
}

#page-actions-box-container{
  top: 30px;
  left: 140px;
  width:180px;
}

#show-sections-notification{
  position: absolute;
  display: none;
  color: orange;
  top: 0px;
  left: 216px;
  font-size: 12px;
}

.shortcuts-box:hover + #shortcuts-box-container {
  display: block;
}

.small-paras{
  color: black;
  font-size: 11px;
  margin-bottom: 8px;
}

.toaster-message {
    display: none;
    color: #0d6efd;
    font-size: 10px !important;
    padding:6px;
    background-color: rgba(13, 110, 253, 0.1);
    border-radius: 2px;
  }

/* textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 14px !important;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-weight: 400 !important;
}

textarea:focus{
    outline: 1px solid rgba(13, 110, 253, 1);
    box-shadow: 0 0 16px rgba(13, 110, 253, 0.2);
} */

.sections-area{
  padding: 16px;
  border: 1px solid #aaa;
  border-radius: 6px ;
  margin: 8px;
}

.pages-container{
  margin: 0 0 1em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.active-area{
  font-weight: bold;
  background-color: rgba(13, 110, 253, 0.2);
  border-radius: 4px;
}

.page-actions-item{
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: .8rem;
 border-bottom: 1px solid #eee;
 padding: .25em 0;
}

.page-actions-item:last-child{
  border-bottom: 0;
}

.page-actions-sub{
  display: flex;
  gap: 2px;
}